.status {
    padding: 2px 5px 3px 5px;
    border-radius: 5px;
    font-weight: bold;
    font-size: 0.7em;
}

.pending {
    background: rgb(220,53,69);
    color: #ffffff;
}

.onhold {
    background: rgb(255,193,7);
    color: #000000;
}

.completed {
    background: rgb(40,167,69);
    color: #ffffff;
}

.card-data {
    color: rgb(153, 153, 153);
    font-size: 0.8em;
    margin-top: 10px;
    margin-bottom: 0px;
}


.status-btn {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    background: rgb(213,213,213);
    color: rgb(144,144,144);
    padding: 4px 12px 4px 12px;
    font-size: 0.8em;
    border-radius: 50px;
    margin-bottom: 5px;
    outline: none;
    cursor: pointer;
}

.filter-btn {
    cursor: pointer;
    border: 1px solid gray;
    background: transparent;
    color: black;
    padding: 4px 12px 4px 12px;
    font-size: 0.8em;
    border-radius: 50px;
    margin-bottom: 5px;
    outline: none;
}

.status-active {
    background: rgb(29,137,228);
    color: #ffffff;
}

#filtermodal .nav-link {
    border-radius: 3px;
    margin: 1px;
}

.prioritylow {
    border-left: 5px solid green;
}

.prioritymedium {
    border-left: 5px solid orange;
}

.priorityhigh {
    border-left: 5px solid red;
}

@media (max-width: 576px) {
    #col-content {
        overflow: auto;
        white-space: nowrap;
    }
}
/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {
   
}
/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {
}
/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {
}
/*Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
}

.AddReq-form label {
    font-size: 12px !important;
    margin-bottom: 0;
}
.AddReq-form small {
    font-size: 20px !important;
    margin-bottom: 0;
}

.workorder-title {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.rotate90 {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}
.rotate180 {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}
.rotate270 {
    -webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    transform: rotate(270deg);
}
.rotate360 {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
}
