
<div class="fixed-top pt-2 pr-2" style="margin-left: 35px;">
    <span class="btn btn-sm">Schedule</span>
</div>
<div class="fixed-top pt-2 pr-2" style="margin-left: 35px;">
    <button class="btn btn-sm btn-info float-right" (click)="save()">Save</button>
    <button class="btn btn-sm float-right mr-2" (click)="reset()">Cancel</button>
</div>
<div class="pl-3 pr-3">
    <div class="row">
        <form class="form-inline" novalidate [formGroup]="scheduleForm">
            <div class="input-group mb-2">
                <div class="input-group-prepend">
                    <label class="input-group-text">Employees</label>
                </div>
                <select class="custom-select" formControlName="EmployeeId" (ngModelChange)="getEmployeeSchedule()">
                    <option value="0" selected>Choose...</option>
                    <option value="{{item.Id}}" *ngFor="let item of employees">{{item.FirstName}}</option>
                </select>
            </div>
            <div class="input-group mb-2 ml-1">
                <div class="input-group-prepend">
                    <label class="input-group-text">Work Period</label>
                </div>
                <input type="date" class="form-control" formControlName="StartDate">
            </div>
            <div class="input-group mb-2">
                <div class="input-group-prepend">
                    <label class="input-group-text">To</label>
                </div>
                <input type="date" class="form-control" formControlName="EndDate">
            </div>
            <div class="input-group mb-2 ml-1" *ngIf="!isScheduleAvailable">
                <button class="btn btn-info" (click)="addSchedule()">Add Schedule</button>
            </div>
        </form>
    </div>
    <div class="row">
        <div class="col">
            <div class="alert alert-light" role="alert">
                <label *ngIf="scheduleForm.controls.EmployeeId.value == 0">Please Select Employee</label>
                <label *ngIf="scheduleForm.errors">{{ scheduleForm.errors?.dates | json }}</label>
                <label *ngIf="scheduleForm.controls.StartDate.value == '' || scheduleForm.controls.EndDate.value == ''"> Schedule is not available. Please select Employee and Work Period to add schedule.</label>
            </div>
        </div>
    </div>
    <div class="row" *ngIf="isScheduleAvailable">
        <div class="col table-responsive">
            <table class="table table-sm table-hover" style="min-width: 800px">
                <thead>
                    <tr class="row">
                        <th class="col-3">Week</th>
                        <th class="col-3">In</th>
                        <th class="col-3">Out</th>
                        <th class="col-3">Total Hours</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="row">
                        <td class="col-3">Monday</td>
                        <td class="col-3">
                            <ngb-timepicker [(ngModel)]="eswl.MondayIn" [spinners]="false" [meridian]="true"></ngb-timepicker>      
                        </td>
                        <td class="col-3"><input type="time" [(ngModel)]="eswl.MondayOut" name="MondayOut" (blur)="calHours()" class="form-control"></td>
                        <td class="col-3">{{eswl.MondayHours}}</td>
                    </tr>
                    <tr class="row">
                        <td class="col-3">Tuesday</td>
                        <td class="col-3"><input type="time" [(ngModel)]="eswl.TuesdayIn" class="form-control"></td>
                        <td class="col-3"><input type="time" [(ngModel)]="eswl.TuesdayOut" class="form-control"></td>
                        <td class="col-3"></td>
                    </tr>
                    <tr class="row">
                        <td class="col-3">Wednesday</td>
                        <td class="col-3"><input type="time" [(ngModel)]="eswl.WednesdayIn" class="form-control"></td>
                        <td class="col-3"><input type="time" [(ngModel)]="eswl.WednesdayOut" class="form-control"></td>
                        <td class="col-3"></td>
                    </tr>
                    <tr class="row">
                        <td class="col-3">Thursday</td>
                        <td class="col-3"><input type="time" [(ngModel)]="eswl.ThursdayIn" class="form-control"></td>
                        <td class="col-3"><input type="time" [(ngModel)]="eswl.ThursdayOut" class="form-control"></td>
                        <td class="col-3"></td>
                    </tr>
                    <tr class="row">
                        <td class="col-3">Friday</td>
                        <td class="col-3"><input type="time" [(ngModel)]="eswl.FridayIn" class="form-control"></td>
                        <td class="col-3"><input type="time" [(ngModel)]="eswl.FridayOut" class="form-control"></td>
                        <td class="col-3"></td>
                    </tr>
                    <tr class="row">
                        <td class="col-3">Saturday</td>
                        <td class="col-3"><input type="time" [(ngModel)]="eswl.SaturdayIn" class="form-control"></td>
                        <td class="col-3"><input type="time" [(ngModel)]="eswl.SaturdayOut" class="form-control"></td>
                        <td class="col-3"></td>
                    </tr>
                    <tr class="row">
                        <td class="col-3">Sunday</td>
                        <td class="col-3"><input type="time" [(ngModel)]="eswl.SundayIn" class="form-control"></td>
                        <td class="col-3"><input type="time" [(ngModel)]="eswl.SundayOut" class="form-control"></td>
                        <td class="col-3"></td>
                    </tr>
                    <tr class="row">
                        <td class="col-10"><div class="d-flex float-right">Week1 Total Hours</div></td>
                        <td class="col-2"><span>6</span></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>


